<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>FX Rates Widget</span>
    <div>
      <app-rate-calculator
        [isLoading]="isLoading"
        [actionLabel]="buy"
        [currencyRates]='currencyRates'
        [base]="base"
      ></app-rate-calculator>
      <app-rate-calculator
        [isLoading]="isLoading"
        [actionLabel]="sell"
        [currencyRates]='currencyRates'
        [base]="base"
      ></app-rate-calculator>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
