
/* Chrome, Safari, Edge, Opera */

input {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

form {
  color: white;
  background: #1976d2;
  width: 300px;
  padding: 2px 5px;
  margin: 10px auto;
  border-radius: 4px;

  select {
    height: 37px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
  }

  input {
    height: 35px;
    border-radius: 0 4px 4px 0;
    border: 0px;
    padding: 0px 8px;
    font-size: 13px;
    border-left: 1px solid #858585;
  }

  p {
    font-weight: 600;

    &.action-type {
      padding-right: 23px;

      span {
        &.curr-rate {
          float: right;
        }
      }
    }
  }
}
