<form #mainForm="ngForm">
	<p class="action-type">{{ actionLabel }} <span class="curr-rate">1 {{base}} = {{ currencyRates[form.currency] | currency:form.currency }} {{form.currency}}</span> </p>
	<div
		*ngIf="isLoading"
	>
		Loading Currency...
	</div>
	<ng-container
		*ngIf="!isLoading"
	>
		<select
			name="currency"
			[(ngModel)]="form.currency"
			required
			(change)="handleCurrencyChange()"
			#currency="ngModel"
		>
			<option value="" selected disabled>Select Currency</option>
			<option
				*ngFor="let rate of currencyRates | keyvalue"
				[ngValue]="rate.key"
			>
				{{rate.key}}
			</option>
		</select>
		<input
			class="add-input"
			type="number"
			name="amount"
			placeholder="Enter Amount"
			[ngModel]="form.amount"
			(ngModelChange)="handleAmountChange($event)"
			required
			#amount="ngModel"
		>
		<p>Total Value: {{ form.value | currency:form.currency }}</p>
	</ng-container>
</form>
